TCMI/TCMI/Service References/TCMIContentServices/TCMIContent.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tcmicrossroadcontent.apphb.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tcmicrossroadcontent.apphb.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tcmicrossroadcontent.apphb.com/">
      <s:element name="AddPrayer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="confidential" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPrayerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddPrayerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePrayer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="confidential" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="request" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="prayed" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="answered" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePrayerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdatePrayerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnsweredPrayer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnsweredPrayerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AnsweredPrayerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Prayed">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrayedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PrayedResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPrayers">
        <s:complexType />
      </s:element>
      <s:element name="GetPrayersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPrayersResult" type="tns:ArrayOfPrayer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPrayer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Prayer" nillable="true" type="tns:Prayer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Prayer">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Confidentiality" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrayerRequest" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Received" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Prayed" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Answered" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="RemovePrayer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemovePrayerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemovePrayerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEvent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="desc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="time" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="venue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddEventResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddEventResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateEvent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="desc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="time" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="venue" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isexpired" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateEventResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateEventResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateEventExpired">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateEventExpiredResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateEventExpiredResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllEvents">
        <s:complexType />
      </s:element>
      <s:element name="GetAllEventsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllEventsResult" type="tns:ArrayOfEvent" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEvent">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Event" nillable="true" type="tns:Event" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Event">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Venue" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateOfEvent" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Time" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Expired" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetActiveEvents">
        <s:complexType />
      </s:element>
      <s:element name="GetActiveEventsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetActiveEventsResult" type="tns:ArrayOfEvent" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveEvent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveEventResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemoveEventResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddPrayerSoapIn">
    <wsdl:part name="parameters" element="tns:AddPrayer" />
  </wsdl:message>
  <wsdl:message name="AddPrayerSoapOut">
    <wsdl:part name="parameters" element="tns:AddPrayerResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePrayerSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePrayer" />
  </wsdl:message>
  <wsdl:message name="UpdatePrayerSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePrayerResponse" />
  </wsdl:message>
  <wsdl:message name="AnsweredPrayerSoapIn">
    <wsdl:part name="parameters" element="tns:AnsweredPrayer" />
  </wsdl:message>
  <wsdl:message name="AnsweredPrayerSoapOut">
    <wsdl:part name="parameters" element="tns:AnsweredPrayerResponse" />
  </wsdl:message>
  <wsdl:message name="PrayedSoapIn">
    <wsdl:part name="parameters" element="tns:Prayed" />
  </wsdl:message>
  <wsdl:message name="PrayedSoapOut">
    <wsdl:part name="parameters" element="tns:PrayedResponse" />
  </wsdl:message>
  <wsdl:message name="GetPrayersSoapIn">
    <wsdl:part name="parameters" element="tns:GetPrayers" />
  </wsdl:message>
  <wsdl:message name="GetPrayersSoapOut">
    <wsdl:part name="parameters" element="tns:GetPrayersResponse" />
  </wsdl:message>
  <wsdl:message name="RemovePrayerSoapIn">
    <wsdl:part name="parameters" element="tns:RemovePrayer" />
  </wsdl:message>
  <wsdl:message name="RemovePrayerSoapOut">
    <wsdl:part name="parameters" element="tns:RemovePrayerResponse" />
  </wsdl:message>
  <wsdl:message name="AddEventSoapIn">
    <wsdl:part name="parameters" element="tns:AddEvent" />
  </wsdl:message>
  <wsdl:message name="AddEventSoapOut">
    <wsdl:part name="parameters" element="tns:AddEventResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateEventSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateEvent" />
  </wsdl:message>
  <wsdl:message name="UpdateEventSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateEventResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateEventExpiredSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateEventExpired" />
  </wsdl:message>
  <wsdl:message name="UpdateEventExpiredSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateEventExpiredResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllEventsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllEvents" />
  </wsdl:message>
  <wsdl:message name="GetAllEventsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllEventsResponse" />
  </wsdl:message>
  <wsdl:message name="GetActiveEventsSoapIn">
    <wsdl:part name="parameters" element="tns:GetActiveEvents" />
  </wsdl:message>
  <wsdl:message name="GetActiveEventsSoapOut">
    <wsdl:part name="parameters" element="tns:GetActiveEventsResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveEventSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveEvent" />
  </wsdl:message>
  <wsdl:message name="RemoveEventSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveEventResponse" />
  </wsdl:message>
  <wsdl:portType name="TCMIContentSoap">
    <wsdl:operation name="AddPrayer">
      <wsdl:input message="tns:AddPrayerSoapIn" />
      <wsdl:output message="tns:AddPrayerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePrayer">
      <wsdl:input message="tns:UpdatePrayerSoapIn" />
      <wsdl:output message="tns:UpdatePrayerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AnsweredPrayer">
      <wsdl:input message="tns:AnsweredPrayerSoapIn" />
      <wsdl:output message="tns:AnsweredPrayerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Prayed">
      <wsdl:input message="tns:PrayedSoapIn" />
      <wsdl:output message="tns:PrayedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPrayers">
      <wsdl:input message="tns:GetPrayersSoapIn" />
      <wsdl:output message="tns:GetPrayersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemovePrayer">
      <wsdl:input message="tns:RemovePrayerSoapIn" />
      <wsdl:output message="tns:RemovePrayerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddEvent">
      <wsdl:input message="tns:AddEventSoapIn" />
      <wsdl:output message="tns:AddEventSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEvent">
      <wsdl:input message="tns:UpdateEventSoapIn" />
      <wsdl:output message="tns:UpdateEventSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEventExpired">
      <wsdl:input message="tns:UpdateEventExpiredSoapIn" />
      <wsdl:output message="tns:UpdateEventExpiredSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEvents">
      <wsdl:input message="tns:GetAllEventsSoapIn" />
      <wsdl:output message="tns:GetAllEventsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveEvents">
      <wsdl:input message="tns:GetActiveEventsSoapIn" />
      <wsdl:output message="tns:GetActiveEventsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveEvent">
      <wsdl:input message="tns:RemoveEventSoapIn" />
      <wsdl:output message="tns:RemoveEventSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TCMIContentSoap" type="tns:TCMIContentSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddPrayer">
      <soap:operation soapAction="http://tcmicrossroadcontent.apphb.com/AddPrayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePrayer">
      <soap:operation soapAction="http://tcmicrossroadcontent.apphb.com/UpdatePrayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnsweredPrayer">
      <soap:operation soapAction="http://tcmicrossroadcontent.apphb.com/AnsweredPrayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Prayed">
      <soap:operation soapAction="http://tcmicrossroadcontent.apphb.com/Prayed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrayers">
      <soap:operation soapAction="http://tcmicrossroadcontent.apphb.com/GetPrayers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePrayer">
      <soap:operation soapAction="http://tcmicrossroadcontent.apphb.com/RemovePrayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEvent">
      <soap:operation soapAction="http://tcmicrossroadcontent.apphb.com/AddEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEvent">
      <soap:operation soapAction="http://tcmicrossroadcontent.apphb.com/UpdateEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEventExpired">
      <soap:operation soapAction="http://tcmicrossroadcontent.apphb.com/UpdateEventExpired" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEvents">
      <soap:operation soapAction="http://tcmicrossroadcontent.apphb.com/GetAllEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveEvents">
      <soap:operation soapAction="http://tcmicrossroadcontent.apphb.com/GetActiveEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveEvent">
      <soap:operation soapAction="http://tcmicrossroadcontent.apphb.com/RemoveEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TCMIContentSoap12" type="tns:TCMIContentSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddPrayer">
      <soap12:operation soapAction="http://tcmicrossroadcontent.apphb.com/AddPrayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePrayer">
      <soap12:operation soapAction="http://tcmicrossroadcontent.apphb.com/UpdatePrayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnsweredPrayer">
      <soap12:operation soapAction="http://tcmicrossroadcontent.apphb.com/AnsweredPrayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Prayed">
      <soap12:operation soapAction="http://tcmicrossroadcontent.apphb.com/Prayed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrayers">
      <soap12:operation soapAction="http://tcmicrossroadcontent.apphb.com/GetPrayers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePrayer">
      <soap12:operation soapAction="http://tcmicrossroadcontent.apphb.com/RemovePrayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEvent">
      <soap12:operation soapAction="http://tcmicrossroadcontent.apphb.com/AddEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEvent">
      <soap12:operation soapAction="http://tcmicrossroadcontent.apphb.com/UpdateEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEventExpired">
      <soap12:operation soapAction="http://tcmicrossroadcontent.apphb.com/UpdateEventExpired" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEvents">
      <soap12:operation soapAction="http://tcmicrossroadcontent.apphb.com/GetAllEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveEvents">
      <soap12:operation soapAction="http://tcmicrossroadcontent.apphb.com/GetActiveEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveEvent">
      <soap12:operation soapAction="http://tcmicrossroadcontent.apphb.com/RemoveEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TCMIContent">
    <wsdl:port name="TCMIContentSoap" binding="tns:TCMIContentSoap">
      <soap:address location="http://localhost/TCMI.Content/TCMIContent.asmx" />
    </wsdl:port>
    <wsdl:port name="TCMIContentSoap12" binding="tns:TCMIContentSoap12">
      <soap12:address location="http://localhost/TCMI.Content/TCMIContent.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>